body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}
h1{
    margin: 10px;
}
.box{
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    border-radius: 8px;
    margin: 10px;
    transform: translateX(400%);
    transition: transform ease 0.5s;
}
.box:nth-of-type(even){
    transform: translateX(-400%);
}
.box.show{
    transform: translateX(0);
}
