
*{
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
a{
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
}
.row{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.list-style{
    list-style: none;
}
.nav-item{
    font-size: 16px;
    font-style: italic;
    color: white;
}
.header{
    background-color: black;
    padding: 15px;
}
.col-6{
    width: 45%;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.banner-header{
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
    color: rgb(125, 125, 125);
    text-align: center;
}
.banner-text{
    font: 20px;
    font: 500;
    color: rgb(125, 125, 125);
    text-align: center;
}
.col-3{
    width: 25%;
    background-color: blueviolet;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 50%;
    height: 360px;
}
.image-container{
    width: 25%;
}
.image-container p{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}
.btn{
    margin-top: 24px;
    width: 100%;
    height: 80px;
    background-color: green;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}
.btn:hover{
   background-color: orange;
   position: relative;
   top: -14px;
   box-shadow: 14px 14px 0px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 14px 14px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 14px 0px 0px rgba(0,0,0,0.75);
    transition: 0.5s;

}
.textarea-container{
    margin-top: 24px;
}
.input-container input{
    width: 250px;
    height: 40px;
}
textarea{
    width: 100%;
}
footer{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: black;
}
.copyright{
    margin-top: 50px;
    color: aqua;
}
.footer_copyright{
    margin-top: 60px;
}
#contact{
    margin-top: 100px;
    margin-bottom: 100px;
}
#about-us{
    margin-top: 100px;
}
#banner{
    background-image: url("../../../leq1/2/image.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
